grant {
  permission java.awt.AWTPermission "showWindowWithoutWarningBanner";
  permission java.awt.AWTPermission "accessEventQueue";
  permission javax.security.auth.AuthPermission "createLoginContext.KVLoginKonfig";
  permission javax.security.auth.AuthPermission "modifyPrincipals";
  permission javax.security.auth.AuthPermission "doAsPrivileged";
  permission java.lang.RuntimePermission "setContextClassLoader";
  permission java.lang.RuntimePermission "shutdownHooks";
  permission java.io.FilePermission "Datenbasis.xml", "read, write, delete, execute";
};
// Principal(Rollen)-bezogene Erlaubnisse
grant Principal auth.Rolle "Kunden-Rechercheur" 
{
    permission auth.ErlaubnisSuchen;
};
grant Principal auth.Rolle "Kunden-Bearbeiter" 
{
    permission auth.ErlaubnisSuchen;
    permission auth.ErlaubnisBearbeiten;  
};