/* Stylesheets für das Fallbeispiel "Anzeigenverwaltung Java EE Web" */
/* ############################ Seitenlayout ############################ */

html {
	background-color: #E4E2DD;	
}	
	
body {
	position: absolute;
	background-color: #F1EEE9;
	background-image: url(../images/anzeigenverwaltung_web_logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 70px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	min-height: 65%;
	width: 70%;
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
}

/* ############################ Links ############################ */
a {
	text-decoration: none;
	border-bottom: 1px dotted black;
	font-weight: 200;
	color: black;
	text-align: left
}

a:link {
	color: black;
	border-bottom: 1px dotted black;
}

a:active {
	color: black;
	border-bottom: 1px dotted black;
}

a:visited {
	color: black;
	border-bottom: 1px dotted black;
}

a:hover {
	color: #FF7800;
	border-bottom: 1px solid #FF7800;
}

a.markiert {
	text-decoration: none;
	border-bottom: 1px dotted #FF7800;
	font-weight: 200;
	color: #FF7800;
	text-align: left
}

a.markiert:link {
	color: #FF7800;
	border-bottom: 1px dotted #FF7800;
}

a.markiert:active {
	color: black;
	border-bottom: 1px dotted black;
}

a.markiert:visited {
	color: #FF7800;
	border-bottom: 1px dotted #FF7800;
}

a.markiert:hover {
	color: #FF7800;
	border-bottom: 1px solid #FF7800;
}

th a {
	text-decoration: bold;
	border-bottom: 1px dotted black;
	font-weight: 800;
	color: black;
	text-align: left
}

th a:link {
	color: black;
	border-bottom: 1px dotted black;
}

th a:active {
	color: black;
	border-bottom: 1px dotted black;
}

th a:visited {
	color: black;
	border-bottom: 1px dotted black;
}

th a:hover {
	color: #FF7800;
	border-bottom: 1px solid #FF7800;
}

/* ############################ Listen ########################## */
ul.liste {
	list-style-type: square;	
}


/* ############################ Texte ############################ */
.headline {
	font-size: 16px;
	font-weight: bold;
	padding-left: 0px;
	padding-right: 25px;
	padding-bottom: 20px;
}

.subheader {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	padding: 0px;
}

.fehler {
	color: red;
}

/* ############################ Formulare ############################ */

/* Panelgrids */
.panelgrid {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 2px;	
}

/* Eingabefelder, Textfelder und Auswahllisten */
input,textarea,file,select {
	font-family: Verdana, Arial, sans-serif;
	font-size: 11px;
	color: black;
	border: 1px #8C9294 solid;
	text-align: left;
	background-color: white;
	width: 150px;
}

input.checkbox {
	width: 15px;
	height: 15px;
}

input[disabled] {
	background-color: #E4E2DD;	
}

input.button {
	text-align: center;
	text-decoration: bold;
	width: 100px;	
	background-color: buttonface;
}

input:hover {
	background-color: orange;
}

input:focus {
	background-color: orange;
}

.button_div {
	position: relative;
	left: 70%;
	width: 28%;
	text-align: right;
	padding-right: 10px;
}

/* ############################ Tabellen ############################ */
.contentTable {
	font-size: 11px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 3px;
	border-collapse: collapse;
	width: 99%;
	border: 0px solid black;
}

.contentHeader {
	font-size: 11px;	
	border: 1px solid #F1EEE9;
	color: black;
	vertical-align: top;
	font-family: Verdana;
	font-weight: bold;
	background-color: #D4D0C7;
	padding: 4px;
}

.contentCell {
	font-size: 11px;	
	border: 1px solid #F1EEE9;
	vertical-align: top;
	font-family: Verdana;
	background-color: #E4E2DD;
	padding: 4px;
}


/* ############################ JSF-Meldungen ############################ */
.meldung_info_global {
	color: green;
	font-size: 11px;
	text-decoration: bold;
	font-weight: 800;
	padding: 5px;
	width: 99%;
	background: #CCFF99;
	border: 1px solid green;
}

.meldung_fehler_global {
	color: red;
	font-size: 11px;	
	text-decoration: bold;
	font-weight: 800;
	padding: 5px;
	width: 99%;
	background: #FFCCCC;
	border: 1px solid red;
}

.meldung_fehler_lokal {
	color: red;
	font-size: 10px;	
	text-decoration: bold;
	font-weight: 800;
	padding-left: 2px;
}